.About-container{
    padding: 3rem 4rem;
    text-align: start;
}
.About-container h1{
    padding-bottom: 1rem;
}

.About-container p{
    padding-bottom: 2rem;
    color: #222;
    font-size: 1rem;
}

@media screen and (max-width:850px){
    .About-container{
        padding: 3rem 2rem;
       
    }

    .About-container p{
       font-size: 15px;
    }
}